{
  "branches": ["master", "next"],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "presetConfig":
        {
          "types": [
            {"type": "feat", "section": "✨ New Features"},
            {"type": "fix", "section": "🐛 Bug Fixes"},
            {"type": "chore", "section": "🔧 Chore"},
            {"type": "ci", "section": "👷 Chore"},
            {"type": "build", "section": "👷 Build"},
            {"type": "docs", "section": "📝 Documentation"},
            {"type": "style", "section": "🎨 Style"},
            {"type": "refactor", "section": "♻️ Refactors"},
            {"type": "perf", "section": "⚡ Performance Improvements"},
            {"type": "test", "section": "✅ Tests"}
          ]
        }
      }
    ],
    [
      "@semantic-release/github",
      {
        "successComment": false,
        "assets": [
            {"path": "build/cubinterpp.hpp", "label": "Single header file"}
        ]
      }
    ]
  ]
}
